{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid text-center">
        <div class="jumbotron">
            <h1 style="color: hotpink">Peppa Pig Seasion One</h1>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Chinese Versions</h3>
            </div>
            <div class="panel-body">
                {{ cartoon[1] }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <video width="100%" controls="controls" autoplay="autoplay">
                    <source src="" type="video/mp4"/>
                </video>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">SubTitles</h3>
                    </div>
                    <div class="panel-body">
                        {% for i in subtitle %}
                            <p>{{ i }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}